In [1]:
## All my imports
print("Versions")
# Data science
import pandas as pd
print(f"Pandas: {pd.__version__}")
import numpy as np
print(f"Numpy: {np.__version__}")
# Visualization 
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style="ticks", color_codes=True)
import os
# Text Stuff
from sklearn.feature_extraction.text import CountVectorizer
import nltk
from nltk.corpus import stopwords

Versions
Pandas: 1.2.1
Numpy: 1.19.2

Now, I want to figure out the direction I would like to take this project, so here are 5 directions that I am considering.

In [7]:
merged = pd.read_csv('headings/headings_df.csv', index_col = 0)

In [8]:
merged

,ID,Heading,Heading Text,Heading Title,Frequency,Person/Job/Org/None
0,0,position summary,This is a unique opportunity to collaborate wi...,position summary,56,Job
1,43,position summary,We are looking for a full time Data Scientist ...,position summary,56,Job
2,157,position summary,The Senior Data Analyst is responsible for ana...,position summary,56,Job
3,176,position summary,In this role you'll be working on a team desig...,position summary,56,Job
4,183,position summary,The Senior Data Analyst is responsible for ana...,position summary,56,Job
...,...,...,...,...,...,...
7213,1701,three years related work experience,Demonstrated experience with data warehousing ...,three years related work experience,1,NaN
7214,1701,five years related work experience,"Demonstrated experience in employee training, ...",five years related work experience,1,NaN
7215,1701,ten years related work experience,Ability to facilitate effective presentations ...,ten years related work experience,1,NaN
7216,1702,about indigo,Indigo works with utilities and energy compani...,about indigo,1,NaN
7217,1702,back to careers,Support to internal data science team.,back to careers,1,NaN

Look at the papers that the Google Scholar papers cite. They could be the seminal papers that we can reference from. 

ALSO look who cites these papers.

Literature reviews.

Data science unit.

Banking regulators are now doing text analysis of investor call transcripts and company prospectuses to find words that indicate some sort of risks. They might use Waffle words. Word counts are super important in fraud detection and in these edge cases.

# Set Analysis

In [11]:
top_ds = set(ds_words.sum().sort_values(ascending=False)[:50].index)
top_da = set(da_words.sum().sort_values(ascending=False)[:50].index)

top_ds.intersection(top_da)

{'ability',
 'across',
 'analysis',
 'analytics',
 'business',
 'degree',
 'develop',
 'development',
 'experience',
 'health',
 'including',
 'insights',
 'knowledge',
 'management',
 'new',
 'opportunity',
 'product',
 'research',
 'role',
 'skills',
 'status',
 'strong',
 'support',
 'team',
 'teams',
 'technology',
 'tools',
 'using',
 'work',
 'working',
 'years'}

In [12]:
ds_words.sum().sort_values(ascending=False)[:50]

experience     2002
team           1173
work           1148
business       1117
learning       1103
science         990
machine         819
new             751
analytics       701
product         665
research        619
skills          619
analysis        601
models          585
people          584
working         574
years           552
including       507
teams           501
status          500
world           478
engineering     475
company         471
ability         467
across          467
solutions       453
development     451
build           447
insights        440
strong          431
help            431
technical       419
health          414
opportunity     409
using           391
us              390
knowledge       381
statistical     378
management      376
tools           376
role            374
gender          373
support         360
develop         357
python          349
products        344
problems        339
scientist       328
technology      317
degree          316
dtype: int64

In [13]:
top_ds - top_da

{'build',
 'company',
 'engineering',
 'gender',
 'help',
 'learning',
 'machine',
 'models',
 'people',
 'problems',
 'products',
 'python',
 'science',
 'scientist',
 'solutions',
 'statistical',
 'technical',
 'us',
 'world'}

In [14]:
top_da - top_ds

{'analyst',
 'analytical',
 'analyze',
 'environment',
 'financial',
 'information',
 'job',
 'position',
 'provide',
 'quality',
 'related',
 'reporting',
 'reports',
 'required',
 'requirements',
 'services',
 'sql',
 'systems',
 'time'}

Ideas for analysis:
* LDA
* N Gram Analysis

Spit out a CSV file with unique header examples. Then we can make dummy variables to see what's in the skill requirements vs what does the job do. It would be interesting to see when we start looking at different job titles, what words pop up in common across them? What's in a data scientist job description that is not in a job analyst job description?

What are words that appear in one vs the other? What is the range of job descriptions that we are pulling out?

Data Analyst has less requirements than Data Scientist, is that actually true? We can look at it by industry and location as well.

Sillicon Valley vs New York. Regional differences for expectations for technical capabilities?